<h1>Stupid Coaching</h1>

<blockquote>
  <p>
    <% if @question.blank? %>
    |=|
    <% else %>
      <%= @question %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>

<%= link_to "Ask another question", ask_path %>
