<div class="container">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>

  <form action="/answer">
    <div class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </div>
  </form>
</div>
